<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Ayron{% endblock %}</title>
  {% load static %}
  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body class="ay-login-page">
  {% block content %}{% endblock %}
  {% block extra_js %}{% endblock %}
</body>
</html>
